.buttonTranslate {

    -fx-text-fill: #3f2e33;
    -fx-background-color: #ffb8d0;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, #e05697, 5, 0, -3, 5);
    -fx-font-weight: bold;
    /*-fx-padding: 5 15 10 15;*/
    -fx-font-size: 16px;
    /*-fx-font-family: url("@Nunito-Bold.ttf");*/

}

.buttonTranslate:hover {
    /*-fx-pref-height: 75;*/
    /*-fx-pref-width: 170;*/
    -fx-background-radius: 90 10 90 10;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 5, 0, 0);*/
    -fx-cursor: hand;
    -fx-font-size: 19px;
    /*-fx-padding: 10 20 15 20;*/
    /*-fx-background-image: url("hover-background.png");*/
    -fx-text-fill: #ff00ff;
    -fx-background-color: radial-gradient(focus-angle 0.0deg, focus-distance 10.0% , center 50.0% 50.0%, radius 60.0%, #aee4ff 0.0%, #6a9cfd 100.0%);
}
.buttonOkCancelVvv {
    -fx-text-fill: #3f2e33;
    -fx-background-color: #ffb8d0;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, #3c3f41, 20, 0, -2, 2);
    -fx-font-weight: bold;
    /*-fx-padding: 5 5 5 5;*/
    -fx-font-size: 15px;
    /*-fx-font-family: url("@Nunito-Bold.ttf");*/

}
.buttonOkCancelVvv:hover {
    -fx-text-fill: #3f2e33;
    -fx-background-color: #ec99b4;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, #3c3f41, 20, 0, -2, 2);
    -fx-font-weight: bold;
    /*-fx-padding: 5 5 5 5;*/
    -fx-font-size: 15px;
    /*-fx-font-family: url("@Nunito-Bold.ttf");*/

}
.buttonMic {
    -fx-text-fill: #3f2e33;
    -fx-background-color: #ffb8d0;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, #3c3f41, 20, 0, -2, 2);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.buttonMic:selected {
    -fx-text-fill: #3f2e33;
    -fx-background-color: #7fc033;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, #3c3f41, 20, 0, -2, 2);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}



.text-field {
    -fx-background-color: #ffb8d0;
    -fx-text-fill: #282727;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.text-field:focused {
    -fx-border-color: #3fc749;
    -fx-border-width: 3px;
    -fx-background-color: #ffb8d0;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/


.comboBox {
    -fx-pref-height: 30;
    -fx-pref-width: 200;
    -fx-text-fill: #3f2e33;
    -fx-background-color: #ffb8d0;
    -fx-background-radius: 20 10 20 10;
    -fx-effect: dropshadow(three-pass-box, #3c3f41, 20, 0, -10, 15);
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 5;
    -fx-font-size: 15px;
    /*-fx-font-family: url("@Nunito-Bold.ttf");*/

}
.comboBox:focused {
    -fx-border-color: #0078d4;
    -fx-background-color: #ffb8d0;
}

/*nut mui ten*/
.comboBox .arrow-button {
    -fx-background-color: #ef9bb9;
}
/*moi phan tu trong danh sach*/
.comboBox .list-cell {
    -fx-background-color: #ffb8d0;
    -fx-text-fill: #000000;
}
/*cua so popup*/
.comboBox .list-cell:hover {
    -fx-background-color: #e7638a;
    -fx-text-fill: #000000;
}

.comboBox .scroll-bar {
    -fx-background-color: #e7638a;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

.webView1 {
    -fx-blend-mode: overlay; /* Chế độ kết hợp */
    -fx-context-menu-enabled: true; /* Cho phép menu ngữ cảnh */
    -fx-cursor: hand;
    -fx-focus-traversable: true; /* Có thể focus */
    -fx-font-scale: 1.2;
    -fx-text-fill: #3f2e33;
    -fx-background-color: #ffb8d0;
    /*-fx-zoom: 1.5;*/
}
