.button_ {
    -fx-background-radius: 10 10 10 10;
    /*-fx-font-weight: bold;*/
    -fx-padding: 5 5 5 5;
    -fx-background-color: #cacc1b;
    -fx-text-fill: #000000;
    -fx-font-size: 10px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-border-color: #f10202;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10 10 10 10;
}
.button_Done {
    -fx-background-color: #31ff00;
    -fx-text-fill: #000000;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 10 10 10 10;
}
.button_:hover {
    -fx-background-color: #000000;
    -fx-font-size: 15px;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #f1f1f1;
}



.buttonChuCai {
    -fx-background-radius: 10 10 10 10;
    /*-fx-effect: dropshadow(three-pass-box, #3c3f41, 20, 0, -10, 15);*/
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 5;

    -fx-background-color: #6bcc1b; /* Màu nền */
    -fx-text-fill: #000000; /* Màu chữ */
    -fx-font-size: 16px; /* Kích thước font chữ */
    -fx-min-width: 40px; /* Độ rộng tối thiểu */
    -fx-min-height: 40px; /* Độ cao tối thiểu */
}

.buttonChuCaiAn {
    -fx-background-color: #ff007a; /* Màu nền khi đã đoán đúng */
    -fx-text-fill: #000000; /* Màu chữ khi đã đoán đúng */
}
.webView2 {
    -fx-blend-mode: overlay; /* Chế độ kết hợp */
    -fx-context-menu-enabled: true; /* Cho phép menu ngữ cảnh */
    -fx-cursor: hand;
    -fx-focus-traversable: true; /* Có thể focus */
    -fx-font-scale: 1.2; /* Tỉ lệ font */
    -fx-text-fill: #000000;
    -fx-zoom: 1.5;
}
