.button1 {
    -fx-pref-height: 69;
    -fx-pref-width: 200;
    -fx-text-fill: #3f2e33;
    -fx-background-color: #ff66b2;
    -fx-background-radius: 45 10 45 10;
    -fx-effect: dropshadow(three-pass-box, #3c3f41, 20, 0, -10, 15);
    -fx-font-weight: bold;
    -fx-padding: 10 20 15 20;
    -fx-font-size: 18px;
    /*-fx-font-family: url("@Nunito-Bold.ttf");*/

}

.button1:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 10, 0, 0);
    -fx-cursor: hand;
    -fx-font-size: 20px;
    -fx-padding: 20 15 20 15;
    /*-fx-background-image: url("hover-background.png");*/
    -fx-text-fill: #ff00ff;
    -fx-background-color: radial-gradient(focus-angle 0.0deg, focus-distance 10.0% , center 50.0% 50.0%, radius 60.0%, #fdffff 0.0%, #a0bfa3 100.0%);
}