
.button1 {
    -fx-font-size: 20px;
    -fx-background-color: #7fffd4;
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
    -fx-text-fill: Black;

}
.textBox{
    -fx-font-size: 12px;
    -fx-background-color: #7fffd4;
    -fx-padding: 5 5 5 5;
}